<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<appSettings>
  <add key="wordAppProcessId" value="17340" />
  <add key="excelAppProcessId" value="15844" />
  <add key="connectieString" value="Provider=Microsoft.ACE.OLEDB.12.0;&#xD;&#xA;Data Source=C:\PiXel-Apps\Project_Data1.accdb;&#xD;&#xA;Persist Security Info=False;" />
</appSettings>