<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings file="Settings.config">
    <add key="LoggingPath" value="C:\logging_PixelApp\"/>

  </appSettings>
  <connectionStrings>
    <!--<add name="LocalDBSQLite" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\ankea\Desktop\Pixel-App\SQLite.accdb" providerName="System.Data.OleDb"/>
    -->
    <add name="Project_Data"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;&#xD;&#xA;Data Source=C:\Pixel-Apps\Project_Data1.accdb;&#xD;&#xA;Persist Security Info=False;"
         providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>